@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ShippingLabelPrint</h1>
    <p class="lead">ShippingLabelPrint helps you print your shipping label lightening fast!</p>
    <p>@Html.ActionLink("Create a new label >>","Create","UserLabels", null, new { @class = "btn btn-primary btn-lg" })</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Language: English; Payment method: Stripe
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Payment Rates</h2>
        <p>each transaction 2.9% + 30 cents; currency USD</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>TODO</h2>
        <p>State Control; Deploy to Cloud</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>